/12-CSS-tutorial-continued/fontawesome-free-6.0.0-web/
/14-Tea-station-project/fontawesome-free-5.12.1-web/
/16-backroads-tour-company-proyect/fontawesome-free-5.12.1-web
/18-grid-mini-projects/fontawesome-free-5.9.0-web
/19-porfolio-project-cssGrid/fontawesome-free-5.12.1-web