/* 
text-shadow
box-shadow
 */

h1 {
  text-shadow: 2px 2px 5px red;
}

.box {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 20px;
  box-shadow: 54px 5px 5px green;
  transition: all 2s ease-in-out;
}

/* este sería recurso externo */
/* los prefijos agregan soporte a las últimas funciones de css, son necesarios a medida que los navegadores lo prueban y experimentan */
/* -webkit es prefijo de chrome y -moz es prefijo para mozilla */
/* hay recursos externos como canIuse.com para saber si la propiedad que vas a usar funciona en algún navegador y con shouldiprefix.com para saber que prefijo agregar a la propiedad*/
/* hay extensiones que facilitan la escritura de esto prefijos */
.box:hover {
  -webkit-box-shadow: 61px 65px 63px 32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 61px 65px 63px 32px rgba(0, 0, 0, 0.75);
  box-shadow: 61px 65px 63px 32px rgba(0, 0, 0, 0.75);
}
