.banner {
  border: 5px solid red;
  padding: 10px;
}

.one {
  float: left;
}

.two {
  float: right;
  height: 40px;
}

/* clear para limpiar la dirección del float, tiene que coincidir los valores de las propiedades float y clear */
p {
  /* clear:right; */
  clear: both;
  /* limpia por ambos lados de one y two sin wrapear */
}
