/* 
::before ::after pseudo-elements creates element and inserts before and after CONTENT
content: ''-- required
img --- does not work (ya que es un elemento por sí mismo, no es como un párrafo o heading donde podemos colocar contenido)
 */

 div{
  width: 70vw;
  margin: 100px auto;
  /* border: 2px solid red; */
  position: relative;
 }

img{
 width: 100%;
 display: block;
 /* dejando el img como bloque, ocupará 100% del div */
}
/* no pasa nada porque img es el contenido */
/* img::before{
 content:"hello there";
} */

div::before{
 content:'';
 border: 2px solid grey;
 width: 100%;
 height: 100%;
 position: absolute;
 box-sizing: border-box;
 top: -40px;
 left: -40px;
 z-index:-2;
 transition: all 0.5s linear;
}
div::after{
 content:'';
 background: rgba(128,128,128,0.5);
 width: 100%;
 height: 100%;
 position: absolute;
 box-sizing: border-box;
 top: -20px;
 left: -20px;
 z-index:-1;
}

div:hover::after, div:hover::before{
 top:0;
 left:0;
}